<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="ul-1 d-flex jc-sb ai-c mb-36">
                <ul class="web-map animates d-flex">
                    <li>首頁</li>
                    <li>系列鏡框</li>
                    <li>門市據點</li>
                    <li>部落格</li>
                    <li>常見問題</li>
                </ul>
                <ul class="social-media d-flex">
                    <li><a href=""><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                                alt=""></a></li>
                    <li><a href=""><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                                alt=""></a></li>
                    <li><a href=""><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                                alt=""></a></li>
                </ul>
            </div>
            <ul class="contact-method">
                <li class="mb-8"><span class="material-symbols-outlined">
                        call
                    </span><a href="">0800-000-000</a>
                </li>
                <li><span class="material-symbols-outlined">
                        mail
                    </span> <a href="mailto:glasses@business.com">glasses@business.com</a>
                </li>
            </ul>
        </div>

        <hr>
        <div class=" copyright d-flex jc-sb">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="ul-3 d-flex">
                <li>隱私權政策</li>
                <li>服務條款</li>
            </ul>
        </div>
    </div>
</div>