<nav>
    <div class="container d-flex jc-sb ai-c">
        <div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                alt="">
        </div>
        <ul class="d-flex animates">
            <li><a href="">系列鏡框</a></li>
            <li><a href="../pages/stores.html">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="../pages/QA.html">常見問題</a></li>
        </ul>
    </div>
</nav>